*{
    padding: 0;
    margin: 0;
}

.calculator{
    height: 350px;
    width: 260px;
    background-color: aquamarine;
    padding: 15px;
    border: 1px solid rgb(34, 32, 32);
    margin: 0 auto;
    margin-top: 29px;
    border-radius: 10px;
    
}

.btn{
    font-size: 20px;
    width: 48px;
    cursor: pointer;
}

.line{
    margin: 10px;
}

.last input{
    font-size: 20px;
    width: 96px;
    margin-left: 10px;
}

#input{
    text-align: right;
    font-size: 22px;
    font-weight: bold;
}